video#video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

@font-face {
    font-family: 'Techno';
    src: url("draw.ttf") format('truetype');
}

@font-face {
    font-family: 'CaviarDreams';
    font-style: normal;
    font-weight: normal;
    src: local('draw'), url('draw.ttf') format('truetype');
}

a{
    color: #FFFFFF;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: #FFFFFF;
}

audio {
    display: none;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html,
body {
    padding: 0;
    margin: 0;
    background-size: cover;
    overflow: hidden;
	background-position: center center;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 75%;
}

#footer img {
    width: 100%;
}

}

#b {
    font-weight: bold;
    color: black;
}

.centerContainer {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#quoteText {
    font-family: 'Techno';
    text-align: center;
    font-size: 40px;
    padding-top: 0px;
	margin: auto;
}

#headText {
    font-family: 'CaviarDreams';
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}

html {
    background no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#divider {
    height: 2px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

#logo {
    width: 100%;
}

#List {
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    font-size: 35px;
    height: calc(100% - 450px);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 6px;
    font-family: 'CaviarDreams';
}

#membersList {
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    font-size: 40px;
    height: calc(100% - 450px);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 6px;
    font-family: 'Bebas Neue';
}

#membersList:hover {
    padding-right: 0px;
    overflow: auto;
}

p {

    font-family: 'Techno';
    text-align: center;
    font-size: 70px;
    padding-top: 2%;
	margin: auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.example2 {
    font-family: Techno;
    text-align: center;
    font-size: 40px;
    padding-top: 0%;
	margin: auto;
}

ul {
    list-style-type: none;
}

.bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes textflicker {
  from {
    text-shadow: 3px 0 0 #0ffbf9, -3px 0 0 #cc0f39;
  }
  to {
    text-shadow: 3px -0.5px 2px #0ffbf9, -1px -0.5px 3px #cc0f39;
  }
}