@font-face{
    font-family:"Lazer 84";
    src:url('https://lain2077.github.io/storage/fonts/LAZER 84/Lazer84.ttf')
}
@font-face{
    font-family:Origin;
    src:url(https://lain2077.github.io/storage/fonts/Origin.otf)
}
@font-face{
    font-family:"Press Start 2P";
    src:url('https://lain2077.github.io/storage/fonts/Press Start 2P/PressStart2P.ttf')
}
.home-main{
    display:grid;
    background:#000 url("") fixed repeat;
    grid-template-columns:27% 825px auto;
    grid-template-rows:250px 50px auto 50px;
    grid-gap:40px 0;
    grid-template-areas:"info title ." ". subtitle ." "menu main ." ". footer ."
}
.title{
    grid-area:title;
    justify-self:center;
    align-self:end;
    z-index:1
}
.credits{
    grid-area:footer;
    justify-self:center;
    align-self:start;
    text-align:center;
    color:#220b38;
    display:inline-block;
    padding:0;
    font-weight:700;
    font-size:.9em
}
ul.sidenav{
    position:fixed;
    max-width:35vw;
    margin:20vh auto auto 6%;
    padding:0 15px 30px;
    background-image:url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/corner-tl.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/corner-tr.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/corner-br.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/corner-bl.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/border-x.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/menu.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/menu_2.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/button-1.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/button-2.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/titlebar.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/titlebar-cyan.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/arrow-l.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/arrow-r.gif),url(https://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.iohttps://lain2077.github.io/storage/images/assets/scrollbar.gif),url(https://lain2077.github.iohttps://lain2077.github.io/art/pixels/Static.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x,repeat;
    background-position:top left,top right,bottom right,bottom left,top left,top right,bottom right,bottom left,top,left,bottom,right,top,left,bottom,right,left 4px top 23px,left top 23px,left 4px top 4px,right 4px top 4px,left top 4px,left top 4px,left 4px bottom 4px,right 4px bottom 4px,left bottom 4px;
    background-origin:border-box;
    list-style-type:none;
    width:250px;
    overflow:auto
}
.sidenav-buttons{
    margin:50px 10px 10px
}
ul.sidenav li a{
    display:block;
    font-family:'Press Start 2P';
    font-size:.96em;
    text-transform:uppercase;
    color:#bc748b;
    text-align:center;
    width:inherit;
    padding:6px 14px;
    text-decoration:none;
    border:solid;
    border-radius:2%;
    background-color:#e1e1e1;
    background-color:rgba(83,61,76,.5)
}
ul.sidenav li a:hover:not(.active){
    background-color:#000;
    color:#fff
}
#menu{
    display:none;
    cursor:pointer;
    font-family:'Press Start 2P';
    font-size:18px;
    color:#000;
    text-align:center;
    width:inherit;
    padding:6px 14px;
    text-decoration:none;
    border:solid;
    border-radius:2%;
    background-color:#e1e1e1;
    background-color:rgba(225,225,225,.5)
}
#menuhid{
    display:block
}
.stamp-holder{
    position:fixed;
    bottom:0;
    margin:3% 11%;
    height:150px;
    line-height:150px;
    max-width:90px;
    padding:10px 20px 10px 20px;
    background:url(/art/pixels/tilesbg2.gif) fixed repeat;
    border:3px solid #ffffe6;
    box-shadow:6px 6px pink,-6px -6px #bc748b,6px 6px 3px pink,-6px -6px 3px #bc748b;
    border-radius:30px
}
.blinky-holder{
    position:fixed;
    top:0;
    right:0;
    margin:4% 1%;
    height:200px;
    line-height:200px;
    max-width:150px;
    padding:10px 20px 10px 20px;
    background:#866c89 url(/art/pixels/tilesbg2.gif) fixed repeat;
    border:3px solid #ffffe6;
    box-shadow:6px 6px pink,-6px -6px #bc748b,6px 6px 3px pink,-6px -6px 3px #bc748b;
    border-radius:30px
}
body{
    margin:0 auto;
    font-size:.85em;
    font-family:Arial
}
.main-window{
    grid-area:main;
    align-self:center;
    justify-self:center;
    padding:50px 70px 50px 70px;
    background:#866c89 url(/art/pixels/Static.gif) fixed repeat;
    border:3px solid #ffffe6;
    box-shadow:6px 6px pink,-6px -6px #bc748b,6px 6px 3px pink,-6px -6px 3px #bc748b;
    border-radius:30px
}
.home-main .main-window article:first-child{
    margin:0!important
}
.home-main .main-window article:nth-child(even){
    margin:30px 50px 0 30px
}
.home-main .main-window article:nth-child(odd){
    margin:30px 30px 0 50px
}
header{
    font-family:Origin;
    color:#dd7fbf;
    font-size:420%;
    text-align:center;
    text-shadow:-2px -2px #ffffe1,4px 4px #220b38,7px 7px #bc748b;
    letter-spacing:8px;
    word-spacing:15px;
    display:inline-block
}
p{
    margin:2px 10px 10px;
    color:#fff
}
a{
    text-decoration:none;
    color:pink
}
a:focus,a:hover{
    color:#fff;
    outline:0
}
.main-links{
    position:relative;
    margin:40px 15px 0;
    display:block
}
ul.sidenav h1{
    font-size:1em;
    font-family:Arial;
    top:5px;
    position:relative;
    margin:0;
    text-align:center;
    display:block
}
h1{
    grid-area:subtitle;
    align-self:center;
    font-family:'Press Start 2P';
    font-size:1.2em;
    margin:0;
    text-align:center;
    display:inline-block;
    text-transform:uppercase
}
.main-window h1{
    font-size:1em;
    font-family:Arial;
    top:5px;
    position:relative;
    margin:0;
    text-align:center;
    display:block
}
h2{
    font-size:1em;
    font-family:Arial;
    top:5px;
    text-align:center;
    position:relative;
    margin:0
}
h3{
    border-bottom:1px dotted #bc748b;
    color:#bc748b
}
h3:focus,h3:hover{
    border-bottom:1px solid transparent
}
.home-main .credits>a{
    color:#0500ae
}
.home-main .credits>a:focus,.home-main .credits>a:hover{
    color:#53023f
}
.sub-window{
    background:#fff;
    padding:0 15px 25px 15px;
    box-shadow:none;
    border:none;
    border-radius:0;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-cyan.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x;
    background-position:top left,top right,bottom right,bottom left,top left,top right,bottom right,bottom left,top,left,bottom,right,top,left,bottom,right,left 4px top 23px,left top 23px,left 4px top 4px,right 4px top 4px,left top 4px,left top 4px,left 4px bottom 4px,right 4px bottom 4px,left bottom 4px;
    background-origin:border-box;
    margin:2% 7% 2% 7%
}
.art{
    color:#000;
    margin:0 auto;
    width:100vw;
    height:100vh;
    font-size:.85em;
    background:#feddcb;
    font-family:Arial;
    display:grid;
    justify-content:stretch;
    align-content:stretch;
    grid-template-columns:40vw auto;
    grid-template-rows:auto auto 328px;
    grid-gap:20px 40px;
    grid-template-areas:"folders modal" "folders modal" "footer footer"
}
.art .credits{
    align-self:end;
    margin:0 auto 10px;
    color:#13272b;
    background-color:#feddcb;
    border:1px solid #c1d3c9;
    outline:1px solid #71a3a9
}
.art .credits>a{
    color:#4d4d4d;
    font-weight:700
}
.art .credits>a:focus,.art .credits>a:hover{
    color:#011db3;
    border:1px solid transparent;
    background:0 0
}
.art h1{
    padding:0 0 26px
}
.art a{
    outline:0;
    text-decoration:none;
    font-weight:400;
    color:#000;
    padding:1px
}
.art a:focus,.art a:hover{
    background-color:#01f8f8;
    border:1px dotted red;
    padding:0
}
.art h1{
    font-size:1em;
    font-family:Arial;
    top:5px;
    text-align:center;
    position:relative;
    margin:0;
    display:block;
    text-transform:initial
}
.storage{
    color:#000;
    margin:0 auto;
    font-size:.85em;
    display:block;
    background:#cbf5ff url(https://lain2077.github.io/art/pixels/floppybg.gif) fixed repeat;
    font-family:Arial;
    display:grid;
    justify-content:stretch;
    align-content:stretch;
    grid-template-columns:400px 59% 250px;
    grid-template-rows:200px auto 100px;
    grid-template-areas:"info title ." "menu main ." ". footer ."
}
.storage .menu{
    position:fixed;
    bottom:0;
    margin:auto auto 7% 9%;
    display:grid;
    grid-template-rows:50% 50%;
    grid-template-columns:100px;
    grid-gap:20px 20px;
    grid-template-areas:"back_1" "back_2"
}
.storage .info{
    position:fixed;
    max-width:35vh;
    margin:10% auto auto 4%;
    padding:0 8px 35px;
    background:#fff;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-cyan.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x;
    background-position:top left,top right,bottom right,bottom left,top left,top right,bottom right,bottom left,top,left,bottom,right,top,left,bottom,right,left 4px top 23px,left top 23px,left 4px top 4px,right 4px top 4px,left top 4px,left top 4px,left 4px bottom 4px,right 4px bottom 4px,left bottom 4px;
    background-origin:border-box
}
.storage .title{
    grid-area:title;
    justify-self:center;
    align-self:center
}
.storage .main-window{
    background:#f8f880;
    border:none;
    box-shadow:none;
    border-radius:0;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-cyan.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x;
    background-position:top left,top right,bottom right,bottom left,top left,top right,bottom right,bottom left,top,left,bottom,right,top,left,bottom,right,left 4px top 23px,left top 23px,left 4px top 4px,right 4px top 4px,left top 4px,left top 4px,left 4px bottom 4px,right 4px bottom 4px,left bottom 4px;
    background-origin:border-box;
    grid-area:main;
    padding:0 70px 50px 70px
}
.storage .back_1{
    text-align:center;
    grid-area:back_1;
    align-self:start;
    justify-self:stretch
}
.storage .back_2{
    text-align:center;
    grid-area:back_2;
    align-self:end;
    justify-self:stretch
}
.storage .credits{
    align-self:center
}
.storage ul.sidenav{
    list-style-type:none;
    bottom:0;
    margin:auto auto 3% 8%;
    padding:64px 0 0 0;
    width:180px;
    position:fixed;
    overflow:auto;
    background:0 0
}
.storage ul.sidenav li a{
    display:block;
    font-family:'Press Start 2P';
    font-size:.96em;
    text-transform:uppercase;
    color:#000;
    text-align:center;
    width:inherit;
    padding:6px 14px;
    text-decoration:none;
    border:2px solid #000;
    border-radius:2%;
    background-color:#fff
}
.storage ul.sidenav li a:hover:not(.active){
    filter:invert(100%);
    background-color:#fff;
    color:#000;
    border:2px solid #000
}
.storage a{
    outline:0;
    text-decoration:none;
    font-weight:700;
    color:#000;
    padding:1px
}
.storage a:focus,.storage a:hover{
    background-color:#01f8f8;
    border:1px dotted red;
    padding:0
}
.storage a.back{
    display:block;
    padding:4px 2px 2px 2px;
    background-color:#80f8c0;
    font-size:.9em;
    font-weight:400;
    border:1px solid transparent
}
.storage a.back:focus,.storage a.back:hover{
    border:1px dotted red;
    background-color:#01f8f8
}
.storage p{
    position:relative;
    display:inline-block;
    margin:40px 25px 0
}
.storage .credits>a{
    color:#c11b62
}
.storage .credits>a:focus,.storage .credits>a:hover{
    color:#000
}
.storage header{
    font-family:'Lazer 84';
    color:#ff71ce;
    font-size:500%;
    text-align:center;
    text-shadow:-2px -2px #ffffe1,4px 4px #220b38,7px 7px #01cdfe;
    letter-spacing:8px;
    word-spacing:15px;
    display:inline-block;
    margin:auto
}
.art h1,.storage h1{
    font-size:1em;
    font-family:Arial;
    top:5px;
    text-align:center;
    position:relative;
    margin:0;
    display:block;
    text-transform:initial
}
.storage h2{
    font-size:1em;
    font-family:Arial;
    top:5px;
    text-align:center;
    position:relative;
    margin:0
}
.storage h3{
    border-bottom:1px dotted #000
}
.storage h3:focus,.storage h3:hover{
    border-bottom:1px solid transparent
}
.storage .main-links{
    position:relative;
    margin:50px 20px 0;
    display:block
}
.storage .sub-window{
    background:#fff;
    padding:0 15px 25px 15px;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/pink-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-cyan.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x;
    background-position:top left,top right,bottom right,bottom left,top left,top right,bottom right,bottom left,top,left,bottom,right,top,left,bottom,right,left 4px top 23px,left top 23px,left 4px top 4px,right 4px top 4px,left top 4px,left top 4px,left 4px bottom 4px,right 4px bottom 4px,left bottom 4px;
    background-origin:border-box;
    margin:2% 7% 2% 7%
}
.storage .buttons{
    margin:auto
}
.storage #icon{
    margin:0 5% 0 0
}
.storage img{
    margin:0;
    padding:0
}
.about{
    display:grid;
    grid-template-columns:27% 700px auto;
    grid-template-rows:300px auto 50px;
    grid-gap:0;
    grid-template-areas:"info title docs" "menu main docs" ". footer .";
    background:#000 url(https://lain2077.github.io/art/pixels/aboutbg.gif) fixed repeat
}
.about header{
    margin:auto
}
.about h1{
    text-transform:none
}
.about .sidenav{
    border:3px solid #bc748b;
    background-color:#000;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-grey.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x
}
.about .main-window{
    background:#000 border-box;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-grey.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x;
    background-position:top left,top right,bottom right,bottom left,top left,top right,bottom right,bottom left,top,left,bottom,right,top,left,bottom,right,left 4px top 23px,left top 23px,left 4px top 4px,right 4px top 4px,left top 4px,left top 4px,left 4px bottom 4px,right 4px bottom 4px,left bottom 4px;
    border:3px solid #bc748b;
    box-shadow:none;
    border-radius:0;
    padding:0 45px 50px
}
.about .sub-window{
    background-color:#fff;
    background-image:url(/storage/images/assets/corner-tl.gif),url(/storage/images/assets/corner-tr.gif),url(/storage/images/assets/corner-br.gif),url(/storage/images/assets/corner-bl.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/border-x.gif),url(/storage/images/assets/border-y.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/grey-border.gif),url(/storage/images/assets/menu.gif),url(/storage/images/assets/menu_2.gif),url(/storage/images/assets/button-1.gif),url(/storage/images/assets/button-2.gif),url(/storage/images/assets/titlebar.gif),url(/storage/images/assets/titlebar-grey.gif),url(/storage/images/assets/arrow-l.gif),url(/storage/images/assets/arrow-r.gif),url(/storage/images/assets/scrollbar.gif);
    background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,repeat-x,repeat-y,no-repeat,repeat-x,no-repeat,no-repeat,repeat-x,repeat-x,no-repeat,no-repeat,repeat-x;
    margin:3% 0
}
.about-paper{
    grid-area:docs;
    justify-self:center;
    align-self:start;
    background-color:#000;
    background-repeat:no-repeat;
    background-position:bottom 15px right 15px,center;
    padding:5px 5px 30px 8px;
    position:relative;
    margin:20px
}
.about-paper,.about-paper::after,.about-paper::before{
    box-shadow:1px 1px 1px rgba(0,0,0,.25);
    border:1px solid #bc748b
}
.about-paper::after,.about-paper::before{
    content:"";
    position:absolute;
    height:95%;
    width:99%;
    background-color:#2c2c2c
}
.about-paper::before{
    right:15px;
    top:0;
    transform:rotate(-1deg);
    z-index:-1
}
.about-paper::after{
    right:-5px;
    top:5px;
    transform:rotate(-1deg);
    z-index:-2
}
.about-paper .info{
    margin:15px 0 0 0;
    display:block
}
.about-paper b{
    display:inline-block;
    margin:0;
    padding:3px 0 0;
    color:#bc748b
}
.about-paper .form{
    text-transform:uppercase;
    border-bottom:1px solid #bc748b;
    padding:2px 15px 1px;
    display:block;
    text-align:center;
    font-weight:700
}
.about-paper p{
    margin:2px 2px 5px;
    color:#fff
}
div.polaroid{
    background-color:#daa1b3;
    box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    margin-bottom:25px;
    float:right;
    padding:10px 5px 25px
}
.about .blinky-holder{
    position:relative;
    border-radius:0;
    background:#fff
}
.about .blinky-holder,.about .blinky-holder::after,.about .blinky-holder::before{
    box-shadow:1px 1px 1px rgba(0,0,0,.25);
    border:1px solid #bbb
}
.about .blinky-holder::after,.about .blinky-holder::before{
    content:"";
    position:absolute;
    height:95%;
    width:99%;
    background-color:#eee
}
.about .blinky-holder::before{
    right:15px;
    top:0;
    transform:rotate(-1deg);
    z-index:-1
}
.about .blinky-holder::after{
    right:-5px;
    top:5px;
    transform:rotate(-1deg);
    z-index:-2
}
.about .credits{
    align-self:center
}
.about .credits>a{
    color:#0056aa
}
.about .credits>a:focus,.about .credits>a:hover{
    color:#9f1212
}
.buttons{
    line-height:1.5;
    display:inline-block;
    vertical-align:middle
}
.blinky{
    line-height:1.5;
    display:inline-block;
    vertical-align:middle
}
#icon{
    margin:0 5% 0 0
}
img{
    margin:0;
    padding:0;
    max-width:100%;
    height:auto
}
@media only screen and (orientation:portrait){
    .about ul.sidenav,.storage ul.sidenav,ul.sidenav{
        width:100%;
        max-width:100%;
        background:0 0;
        height:auto;
        top:0;
        bottom:auto;
        position:fixed;
        z-index:2;
        padding:0;
        margin:auto
    }
    .about ul.sidenav li a,.storage ul.sidenav li a,ul.sidenav li a{
        float:none
    }
    .about ul.sidenav h1,.storage ul.sidenav h1,ul.sidenav h1{
        display:none
    }
    .about .sidenav-buttons,.sidenav-buttons,.storage .sidenav-buttons{
        margin:auto
    }
    #menu,.about #menu,.storage #menu{
        color:#000;
        display:block;
        width:auto;
        height:auto;
        margin:auto;
        border:none;
        background:#fff;
        background:rgba(255,255,255,.7)
    }
    #menuhid,.about #menuhid,.storage #menuhid{
        display:none;
        background:#fff;
        background:0 0
    }
    .home-main{
        grid-template-columns:auto 45% 45% auto;
        grid-template-rows:1px 60px 50px auto 200px 50px;
        grid-template-areas:"menu menu menu menu" ". title title ." ". subtitle subtitle." ". main main ." ". stamps blinky ." ". footer footer ."
    }
    .main-window{
        padding:20px 4%
    }
    .home-main .main-window article:first-child,.home-main .main-window article:nth-child(even),.home-main .main-window article:nth-child(odd){
        margin:30px 0!important
    }
    .home-main .buttons{
        display:inline-block;
        text-align:center
    }
    .home-main .blinky{
        display:inline-block;
        text-align:center
    }
    .home-main .stamp-holder{
        display:inline-block;
        grid-area:stamps;
        justify-self:center;
        align-self:center;
        position:relative;
        margin:0 11%;
        height:auto;
        line-height:180px;
        max-width:unset
    }
    .home-main .blinky-holder{
        display:inline-block;
        grid-area:blinky;
        justify-self:center;
        align-self:center;
        position:relative;
        margin:0 11%;
        height:auto;
        padding:0 10px;
        max-width:unset
    }
    .art{
        display:grid;
        justify-content:stretch;
        align-content:stretch;
        grid-template-columns:100vw;
        grid-template-rows:auto 300px auto auto;
        grid-gap:10px;
        grid-template-areas:"folders" "thumbs" "modal" "footer"
    }
    .storage{
        grid-template-rows:auto 250px auto 100px;
        grid-template-areas:"menu" "title" "main" "footer"
    }
    .storage .main-window{
        padding:0 0 20px
    }
    .storage .info{
        display:none
    }
    .storage .menu{
        position:absolute;
        top:0;
        margin:2% 2%;
        grid-area:menu;
        grid-template-rows:100px;
        grid-template-columns:100px 100px;
        grid-gap:10px 10px;
        grid-template-areas:"back_1 back_2"
    }
    .storage .back_1{
        align-self:stretch
    }
    .storage .back_2{
        align-self:stretch
    }
    .storage header{
        grid-area:title
    }
    .storage .title{
        align-self:end
    }
    .about{
        grid-template-columns:0 100% 0
    }
    .about .main-window,.storage .main-window{
        padding:0 5% 50px
    }
    .about-paper{
        display:none
    }
    .buttons{
        display:none
    }
    .blinky{
        display:none
    }
    .stamp-holder{
        display:none
    }
    .blinky-holder{
        display:none
    }
}
