*{
    box-sizing:border-box
}
body,html{
    height:100%;
    margin:0;
    -webkit-user-select:none;
    user-select:none
}
body{
    background-color:#000;
    color:var(--font-color)
}
img{
    image-rendering:crisp-edges
}
h1,h3,p{
    margin:0;
    padding:0
}
a{
    text-decoration:none;
    color:inherit
}
div,img{
    -ms-interpolation-mode:nearest-neighbor;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:pixelated;
    image-rendering:optimizeSpeed;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:optimize-contrast
}
::-webkit-scrollbar{
    width:2px;
    height:2px
}
::-webkit-scrollbar-track{
    background:#070707
}
::-webkit-scrollbar-thumb{
    background:#555
}
::-webkit-scrollbar-thumb:hover{
    background:#f4f1e8
}
::-webkit-scrollbar-corner{
    background:#070707
}
#content{
    background-image:url(https://lain2077.github.io/elc/betrayed.gif);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center
}
@font-face{
    font-family:draw;
    src:url(https://lain2077.github.io/elc/draw.ttf) format('truetype')
}
@font-face{
    font-family:'Free Serif';
    src:url(https://lain2077.github.io/elc/WOFF/FreeSerif-YO4a.woff)
}
h1{
    font-family:'Free Serif'
}
@font-face{
    font-family:'Free Serif Bold';
    src:url(https://lain2077.github.io/elc/WOFF/FreeSerifBold-rdMp.woff)
}
@font-face{
    font-family:'Free Serif Italic';
    src:url(https://lain2077.github.io/elc/WOFF/FreeSerifItalic-KErA.woff)
}
@font-face{
    font-family:'Free Serif Bold Italic';
    src:url(https://lain2077.github.io/elc/WOFF/FreeSerifBoldItalic-MdKw.woff)
}
h3{
    font-family:'Free Serif Bold Italic'
}
@font-face{
    font-family:Jackeyfont;
    src:url(https://lain2077.github.io/elc/WOFF/jackeyfont.woff)
}
.jack,a,p{
    font-family:Jackeyfont
}
@font-face{
    font-family:UVGA;
    src:url(https://lain2077.github.io/elc/WOFF/UVGA16.woff)
}
@font-face{
    font-family:Mo;
    src:url(https://lain2077.github.io/elc/WOFF/MOSOUL.woff)
}
@font-face{
    font-family:MSN;
    src:url(https://lain2077.github.io/elc/WOFF/ms_sans_serif.woff)
}
:root{
    --purplesaur:#430043;
    --purpleHelmet:#770077;
    --smurfCum:#000033;
    --grassyKnoll:#004300;
    --bruneous:#432100;
    --screenBlack:#171717;
    --truePink:#ffb0ff;
    --punkPink:#ff00ff;
    --grungeRed:#470000;
    --font-color:#ffffff
}
.center{
    justify-content:flex-start!important;
    flex-flow:column nowrap!important
}
.button{
    width:64px;
    height:64px;
    border:4px outset var(--truePink);
    z-index:30
}
.button:active{
    border:4px inset var(--truePink)
}
.b2{
    top:64px
}
.b3{
    top:128px
}
.b4{
    top:192px
}
.back{
    background:url(https://lain2077.github.io/elc/PNG/left.png) center no-repeat;
    background-size:60% auto
}
.content{
    z-index:13;
    left:72px;
    position:relative;
    width:720px;
    height:592px;
    border:4px inset var(--truePink)
}
.icon{
    width:100px;
    height:100px;
    margin:4px;
    display:flex;
    justify-content:center;
    flex-flow:column wrap;
    align-items:center;
    box-sizing:border-box
}
.icon img{
    width:48px;
    height:48px;
    margin-bottom:8px
}
.icon p{
    text-shadow:4px 4px 1px #000;
    text-align:center;
    font-size:12px;
    margin-top:4px
}
.icon:hover{
    border:2px dashed var(--truePink)
}
.shortcut::before{
    content:url(https://lain2077.github.io/elc/PNG/shortcut.png);
    position:absolute;
    transform:translate(-24px,4px)
}
.icon-fake{
    margin:4px;
    width:100px;
    height:100px
}
.m{
    visibility:hidden;
    width:0;
    height:0;
    margin:0;
    border:0
}
#splashTitle{
    float:left;
    margin:1em;
    font-size:4vw;
    font-family:draw;
    -webkit-text-stroke:0 #000;
    font-weight:400
}
#splashLogo{
    height:120px;
    float:right;
    padding:1em;
    margin-bottom:10px
}
#splashFlavor{
    padding-left:1em;
    font-size:1.6em;
    position:fixed;
    top:23%;
    bottom:0;
    width:100%
}
#os{
    border:8px ridge var(--truePink);
    padding:2em;
    width:-moz-fit-content;
    width:fit-content;
    max-width:400px
}
#name{
    font-size:2em;
    color:var(--truePink)
}
#box{
    position:absolute;
    height:100%;
    width:100%
}
#bottom{
    position:absolute;
    bottom:4px;
    left:4px;
    border:none
}
@media (pointer:coarse){
    .content{
        width:calc(100% - 72px);
        height:100%
    }
    .icon{
        margin:12px;
        width:112px;
        height:112px;
        border:4px outset var(--truePink);
        background:url(PNG/purp.png)
    }
    .icon img{
        margin:4px
    }
    .icon:active{
        border:4px inset var(--truePink)
    }
    .icon:hover{
        border:4px outset var(--purplesaur)
    }
    .icon-fake{
        margin:12px;
        width:112px;
        height:112px
    }
    .m-{
        visibility:hidden;
        width:0;
        height:0;
        margin:0;
        border:0
    }
    .m{
        visibility:visible
    }
    #os{
        width:90%
    }
}
@keyframes colorRotate{
    from{
        color:red
    }
    10%{
        color:orange
    }
    50%{
        color:#ff0
    }
    75%{
        color:green
    }
    100%{
        color:#00f
    }
}
lain{
    color:#d2738a
}
red{
    color:#0fdfff
}
bet{
    color:red
}
